.loader {
  background-color: #0d1117;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.loader_image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  background-color: aliceblue;
}
.loader_image {
  width: 100px;
  padding: 1rem;
  height: 100px;
}
.landing_app {
  background-color: #0d1117;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
.landing_app_title {
  color: #c9d1d9;
}
.landing_app_search_bar {
  border: 1px solid gray;
  padding: 0.4rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.landing_app_search_container {
  width: 50vw;
}
.landing_app_repos_container {
  margin-bottom: 1.2rem;
}

.landing_app_search_input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  color: #c9d1d9;
}
